<div>
  <button
    nz-button
    nzType="text"
    (click)="btnClickedHandler($event)"
    nzSize="small"
    class="mr-1"
    nzTooltipTitle="Edit"
    nzTooltipPlacement="top"
    nz-tooltip
  >
    <i nz-icon nzType="edit" nzTheme="fill"></i>
  </button>
  <button
    nz-button
    nzType="text"
    (click)="showDeleteConfirm()"
    nzSize="small"
    nzTooltipTitle="Delete"
    nzTooltipPlacement="top"
    nz-tooltip
  >
    <i nz-icon nzType="delete" nzTheme="fill"></i>
  </button>

  <nz-modal
    [(nzVisible)]="isEditVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleEditCancel()"
  >
    <ng-template #modalTitle>Edit HIPPA Consent</ng-template>

    <ng-template #modalContent>
      <div nz-row>
        <div nz-col nzSpan="12">
          <label><span style="color: red">*</span> Signed</label><br />
          <nz-date-picker
            style="min-width: 190px"
            [(ngModel)]="record.hippaSigned"
            nzFormat="MM/dd/yyyy"
            name="signed"
          ></nz-date-picker>
        </div>
        <div nz-col nzSpan="12">
          <label><span style="color: red">*</span> Expires</label><br />
          <nz-date-picker
            style="min-width: 190px"
            [(ngModel)]="record.hippaExpires"
            nzFormat="MM/dd/yyyy"
            name="expires"
          ></nz-date-picker>
        </div>
      </div>
      <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="handleEditSave()">
        Save
      </button>
      <button nz-button nzType="default" (click)="handleEditCancel()">
        Cancel
      </button>
    </ng-template>
  </nz-modal>
</div>
