/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

.mr-1 {
  margin-right: 1rem;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 6px;
}
